########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################
[Unit]
Description=Run borgmatic backup

[Timer]
OnCalendar={{ borgmatic.timer  }}
Persistent=true

[Install]
WantedBy=timers.target
